*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* '#2196f3',
'#e91e63',
'#ffeb3b',
'#74ff1d', */
body{
    width: -webkit-fill-available;
    overflow: hidden;
    height: 100px;
    background: #000;
}

section{
    height: 100vh;
}
span{
    background-image: url('image/anh.jpg');
    position: absolute;
    pointer-events: none;
    background: #fff;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%
    {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%
    {
        opacity: 0.5;
    }
    90%
    {
       opacity: 1;
    }
    100%
    {
        transform: scale(1) translateY(-500%) rotate(500deg);
        opacity: 0;
    }
}
/* end background */
.Time {
    position: relative;
    z-index: 1000;
}
.container{
    width: -webkit-fill-available;
}
.Hours, .Minutes, .seconds {
    height: 255px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}
.Hours{
    margin-left: 12.5%;
}
.dmy {
    margin: 12.5% 12.5% 0 12.5%;
    color: white;
    padding: 0px;
    float: left;
    background: #ffdead00;
    text-align: center;
}

.dmy h1 {
    float: left;
}

.Time .seconds h4 {
    margin: 0;
    background: #ff5656;
}

.Time h3 {
    border-bottom: 2px solid #4141f7;
    line-height: 80px;
    height: 80px;
    margin: 0;
    background: #127fd3;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 120%;
    color: white;
    text-align: center;
}

.seconds h3 {
    background: #fa0101e0;
    border: red;
}

.Time h4 {
    width: 100%;
    margin: 0;
    font-size: 500%;
    color: wheat;
    line-height: 170px;
    background: #2196f3;
    text-align: center;
}

@media(max-width: 500px){
    .Hours{
        margin: 0px !important;
    }
    .col-sm-push-4 {
        left: 16.5% !important;
    }
    .dym{
        margin-top: 38% !important;
    }
    .Time{
        margin: 0;
    }
    .Time h3{
        font-size: 124% !important;
        height: 45px !important;
        line-height: 45px !important;
    }
    .Time h4{
        font-size: 75px !important;
    }
}
@media(min-width: 1250px){
    .Time h3{
        font-size: 200%;
    }
    .Time h4{
        font-size: 150px;
    }
    .col-sm-push-4{
        left: 36.5% !important; 
     }
    .dym{
        margin-top: 10% !important;
    }
}
@media(min-width: 1000px){
    .Time h3{
        font-size: 200%;
    }
    .Time h4{
        font-size: 150px;
    }
    .col-sm-push-4{
        left: 35%; 
     }
}
@media(max-width: 1000px){
    .dmy{
        margin-top: 25%;
    }
    .col-sm-push-4{
        left: 34.5%; 
    }
    .Hours, .Minutes, .seconds{
        height: 178px;
    }
    .Hours{
        margin-left: 0;
        margin-left: 12.5%;
    }
    .Time h3{
        font-size: 150%;
        height: 56px;
        line-height: 56px;
    }
    .Time h4{
        font-size: 90px;
        height: 120px;
        line-height: 120px;
    }
    .dmy h1{
        padding-left: 0px;
    }
    .col-sm-push-4{
       left: 34.5%; 
    }
}
/* end clock */
div#hien {
    display: none;
    margin-top: 15%;
    text-align: -webkit-center;
}
img{
    margin-top: 10%;
    margin-left: 25%;
    pointer-events: none;
    animation: aniName 5s linear infinite;
}

@keyframes aniName{
    0%
    {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%
    {
        opacity: 0.5;
    }
    90%
    {
       opacity: 1;
    }
    100%
    {
        transform: scale(1) translateY(-200%) rotate(0deg);
        opacity: 1;
    }
}