*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* '#2196f3',
'#e91e63',
'#ffeb3b',
'#74ff1d', 
-webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
*/
body{
    width: -webkit-fill-available;
    overflow: hidden;
    background: #000;
}

section{
    height: 100vh;
}
span{
    background-image: url('image/anh.jpg');
    position: absolute;
    pointer-events: none;
    background: #fff;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%
    {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%
    {
        opacity: 0.5;
    }
    90%
    {
       opacity: 1;
    }
    100%
    {
        transform: scale(1) translateY(-500%) rotate(500deg);
        opacity: 0;
    }
}
/* end background */
.Time {
    text-align: center;
    position: relative;
    z-index: 1000;
}

.container{
    width: -webkit-fill-available;
}
.Clock, .dmy {
    display: inline-block;
    height: max-content;
    width: max-content;
}

.Clock h4 {
    text-shadow: 0px 0px 30px #27f48c9c;
    margin: 0;
    line-height: normal;
    text-align: center;
    float: left;
    font-family: Digital-7 Regular;
    font-size: 1000%;
    color: #02ff7f;
}

.dmy h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    float: left;
}
@media(max-width : 450px){
    .Clock h4{
        font-size: 120px;
    }
}
/* end clock */
div #hien {
    display: none;
    margin-top: 15%;
    text-align: -webkit-center;
}
img{
    margin-top: 10%;
    margin-left: 25%;
    pointer-events: none;
    animation: aniName 5s linear infinite;
}

@keyframes aniName{
    0%
    {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%
    {
        opacity: 0.5;
    }
    90%
    {
       opacity: 1;
    }
    100%
    {
        transform: scale(1) translateY(-200%) rotate(0deg);
        opacity: 1;
    }
}